Firmware[[:space:]]Report1 filter=lfs diff=lfs merge=lfs -text
Firmware[[:space:]]Report2 filter=lfs diff=lfs merge=lfs -text
Firmware[[:space:]]Report3 filter=lfs diff=lfs merge=lfs -text
Firmware[[:space:]]Report4 filter=lfs diff=lfs merge=lfs -text
Readme.md filter=lfs diff=lfs merge=lfs -text
